#{extends 'admin.html' /}
#{set title:'index' /}
<div class="grid_8">
<div class="grid_8">
    <br/>
<h3>Planlagte møter som ikke er publisert ennå<a href="@{Admin.showEvent()}" class="awesome" style="float:right">+</a></h3>
<hr/>

<table style="width:100%">
#{list items:unpublishedEvents, as:'event'}
<tr>
	<td style="width:100px">${event?.region?.realName}</td>
	<td style="width:100px">${event?.date?.format('dd.MM.yyyy')}</td>
	<td>${event?.title}</td>
	<td><a href="@{Admin.showEvent(event?.id)}" class="awesome" style="float:right;background-color:yellow;color:black;">Rediger</a></td>
</tr>
#{/list}
</table>

<br/>
</div>

<div class="clear"></div>

<div class="grid_8">
    <br/>
<h3>Møter som ligger på forsida av java.no</h3>
<hr/>
<table style="width:100%">
#{list items:currentEvents, as:'event'}
<tr>
	<td style="width:100px">${event?.region?.realName}</td>
	<td style="width:100px">${event?.date?.format('dd.MM.yyyy')}</td>
	<td>${event?.title}</td>
	<td style="float:right;"><a href="@{Admin.showEvent(event?.id)}" class="awesome" style="background-color:yellow;color:black;">Rediger</a></td>
</tr>
#{/list}
</table>
<br/>
</div>

<div class="clear"></div>

<div class="grid_8">
    <br/>
<h3>Møter vi har holdt tidligere</h3>
<hr/>
<table style="width:100%">
#{list items:oldEvents, as:'event'}
<tr>
	<td style="width:100px">${event?.region?.realName}</td>
	<td style="width:100px">${event?.date?.format('dd.MM.yyyy')}</td>
	<td>${event?.title}</td>
	<td style="float:right;"><a href="@{Admin.showEvent(event?.id)}" class="awesome" style="background-color:yellow;color:black;">Rediger</a></td>
</tr>
#{/list}
</table>
</div>
</div>

<div class="grid_3">

<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'javaBin',
  interval: 15000,
  title: 'Siste resultater av',
  subject: 'javaBin',
  width: 350,
  height: 400,
  theme: {
    shell: {
      background: '#8ec1da',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    toptweets: true,
    behavior: 'default'
  }
}).render().start();
</script>
</div>