#{extends 'admin.html' /}
#{set title:'foredragsholdere' /}

<div class="clear"></div>
<div class="grid_12">
<br>
<h3>Foredragsholdere<a href="javascript:" class="speaker awesome right" href="#">+</a></h3>
<hr>

   #{list items:lectureholders, as:'lectureholder'}
                <div class="grid_2 lectureholder">
                  <a href="?gravatarId=${lectureholder?.gravatarId}&lectureholderId=${lectureholder?.id}&name=${lectureholder?.fullName}" class="speaker"><img width="15px" src="/public/images/gtk-edit.png"></a>
                  <a href="@{Admin.deleteLectureholder(lectureholder?.id)}"
       onclick="return confirm('Er du sikker på at du vil slette foreleseren?')"><img width="15px" src="/public/images/edit-delete.png"></a>
                    <br />
                   <img src="http://www.gravatar.com/avatar/${lectureholder?.gravatarhash(lectureholder?.gravatarId)}?d=mm"/>
                    <a href="mailto:${lectureholder?.gravatarId}" class="awesome epost_knapp">${lectureholder?.fullName}</a>
                </div>
        #{/list}

</div>

<div id="lectureholder" title="Foreleser" class="hidden">
	#{form id:'lectureholderForm', action:@Admin.saveLectureHolder()}
    <label>Navn</label><input id="fullName" name="lectureHolder.fullName" type="text"/>
    <label>Gravatar email</label><input id="gravatarId" name="lectureHolder.gravatarId" type="text"/>
    <input type="hidden" id="lectureholderId" name="lectureHolder.id"/>
	#{/form}
</div>
