#{extends 'admin.html' /}
#{set title:event?.title /}

<script type="text/javascript">
    $(function() {


    #{if event}
    var lectureholders = ${models.LectureHolder.toJSON().raw()};
        $( "#lectureholderAC" ).autocomplete({
            source: lectureholders,
            select: function (event, ui) {
                $("#lectureHolderId").val(ui.item.id);
                $("#gravatarId").val(ui.item.gravatarId);
            }
        });
    #{/if}


    $( "#event_date" ).datepicker({ dateFormat: 'dd.mm.yy'});
    $( "#published" ).buttonset();
    $( "#checklist" ).buttonset();

    });
</script>
#{form id:'eventForm', action:@Admin.saveEvent(event?.id)}

#{if !event}
<div class="grid_4 prefix_7 suffix_0">
	<a class="cuevent awesome">Opprett</a>
</div>

#{/if}


#{if event}
<div class="grid_4 prefix_9 suffix_0">
    <a href="@{Admin.deleteEvent(event?.id)}" class="awesome slette_knapp" onclick="return confirm('Er du sikker på at du vil slette møtet?')">Slett</a> 
    <a class="cuevent awesome">Oppdater</a>
</div>

<div class="grid_4">
    <br/>

    <h3>Status</h3>
    <hr/>
    <div id="published">
        <input type="radio" id="radio1" name="event.published"  value="false" ${!event?.published ? 'checked' : ''} /><label for="radio1">Møtet er ikke publisert</label>
        <input type="radio" id="radio2" name="event.published"  value="true" ${event?.published ? 'checked' : ''}/><label for="radio2">Møtet er publisert</label>
    </div>
    <br/>
</div>

<div class="grid_3">
    <br/>

    <h3>Todo</h3>
    <hr/>
        <pre class="checklist">
Mat er bestilt        <input type="checkbox" id="event.orderedFood" name="event.orderedFood" value="true" ${event?.orderedFood ? 'checked' : ''} />
Lokalet er bestilt    <input type="checkbox" id="event.bookedPlace" name="event.bookedPlace" value="true" ${event?.bookedPlace ? 'checked' : ''} />
Twitter er skrevet    <input type="checkbox" id="event.writtenTwitter" name="event.writtenTwitter" value="true" ${event?.writtenTwitter ? 'checked' : ''} />
Har sendt møtemail    <input type="checkbox" id="event.sentEMail" name="event.sentOutEMail" value="true" ${event?.sentOutEMail ? 'checked' : ''} />
Vin til foreleser(e)  <input type="checkbox" id="event.boughtWine" name="event.boughtWine" value="true" ${event?.boughtWine ? 'checked' : ''}>
       </pre>
</div>

<div class="grid_4">
    <br/>

    <h3>Presentasjoner</h3>
    <hr/>
    	#{list items:event?.slides, as:'slide'}
			<input size="20" type="text" name="slide${slide.id}.description" value="${slide.description}"/><input size="20" type="text" name="slide${slide.id}.link" value="${slide.link}"/><br/>
        #{/list}
    
	Ny: <a class="awesome right addslide" href="@{addSlide()}?eventId=${event?.id}">+</a>
</div>


<div class="clear"></div>

#{/if}


<div class="grid_7">
    <br/>

    <h3>Møtet</h3>
    <hr/>

    <input type="hidden" name="event.id" value="${event?.id}"/>

    #{field 'event.region'}
    <div class="field">
        <label for="${field.id}">Region : </label>
        #{select name:'event.region', items:models.Event.Region.values(), labelProperty:'value', value:event?.region /}
        <span class="error">${field.error}</span>
    </div>
    #{/field}


    #{field 'event.date'}
    <div class="field">
        <label for="${field.id}">Dato : </label>
        <input id="${field.id}" type="text" name="${field.name}" size="15"
               value="${field?.value?.format('dd.MM.yyyy')}"/>
        <span class="error">${field.error}</span>
    </div>
    #{/field}

    <div class="field">
        <label for="klokka">Klokka : </label>
        #{select 'event.startHour', size:1, id:'event.startHour', items:0..24, value:event?.startHour/}#{select 'event.startMin', size:1, id:'event.startMin', items:[0,15,30,45], value:event?.startMin/} - #{select 'event.endHour', size:1, id:'event.endHour', items:0..24, value:event?.endHour/}#{select 'event.endMin', size:1, id:'event.endMin', items:[0,15,30,45], value:event?.endMin/}
    </div>

    #{field 'event.location'}
    <div class="field">
        <label for="${field.id}">Møtested: </label>
        <input id="${field.id}" type="text" name="${field.name}" size="30" value="${field.value}"
               class="${field.errorClass}"/>
        <span class="error">${field.error}</span>
    </div>
    #{/field}

    #{field 'event.address'}
    <div class="field">
        <label for="${field.id}">Adresse : </label>
        <input id="${field.id}" type="text" name="${field.name}" size="30" value="${field.value}" class="${field.errorClass}"/>
        <span class="error">${field.error}</span>
        <a class="maplink" href="?location=${event?.location}&address=${event?.address}"><img src="/public/images/icons/map.png" alt="kart" class="map"/></a>
    </a>
    </div>
    #{/field}


    #{field 'event.title'}
    <div class="field">
        <label for="${field.id}">Tittel på foredraget : </label>
        <input id="${field.id}" type="text" name="${field.name}" size="30" value="${field.value}"
               class="${field.errorClass}"/>
        <span class="error">${field.error}</span>
    </div>
    #{/field}


    #{field 'event.description'}
    <div class="field">
        <label for="${field.id}">Beskrivelse : </label>
        <textarea id="${field.id}" type="text" name="${field.name}" rows="5" cols="48" class="${field.errorClass}">${field.value}</textarea>
        <span class="error">${field.error}</span>
    </div>
    #{/field}
    <br/>

    #{field 'event.extraInfo'}
    <div class="field">
        <label for="${field.id}">Extra info : </label>
        <textarea id="${field.id}" type="text" name="${field.name}" rows="5" cols="48" class="${field.errorClass}">${field.value}</textarea>
        <span class="error">${field.error}</span>
    </div>
    #{/field}
    <br/>


</div>
#{if event}
<div class="grid_4">
    <br/>
    <h3>Foreleser(e)<a class="awesome right newspeaker" href="@{addLectureHolder()}?eventId=${event?.id}">+</a></h3>
    <hr/>
    <div id="lectureholderContainer">
        #{list items:event?.lectureholders, as:'lectureholder'}
                <div id="lec_${lectureholder?.id}" class="grid_2 lectureholder_small">
                   <img src="http://www.gravatar.com/avatar/${lectureholder?.gravatarhash(lectureholder?.gravatarId)}?d=mm"/>
                    <br/>
                    <a href="mailto:${lectureholder?.gravatarId}" class="awesome epost_knapp"> ${lectureholder?.fullName}</a>
                    <a href="@{removeLectureHolder()}?eventId=${event?.id}&lectureholderId=${lectureholder?.id}" class="rmspeaker awesome">x</a>
                </div>
        #{/list}
    </div>
</div>
<div class="clear"></div>


<div class="grid_11">
    <br/>
    <h3>Antall påmeldte : <input type="text" size="3" name="event.participantCount" value="${event?.participantCount}"/> 
      Maks antall : <input type="text" size="3" name="event.participantLimit“" value="${event?.participantLimit}">
      <a href="@{addParticipant()}?eventId=${event?.id}" class="awesome right addparticipant">+</a>
      <a class="awesome right bleste_knapp sendmail"href="@{sendMeetingMail()}?eventId=${event?.id}">Blest om møtet</a>
      <a href="@{remindParticipants()}?eventId=${event?.id}" class="sendmail awesome right bleste_knapp">Send ut påminnelsesmail til de påmeldte</a></h3>
    <hr/>
    <p id="particiapantContainer">		
    #{list items:event?.participants, as:'participant'}
      <a id="par${participant?.id}" class="awesome epost_knapp" href="mailto:${participant?.email}">${participant?.name} (${participant?.email})</a>
      <a class="awesome rmparticipant" id="parx${participant?.id}" href="@{removeParticipant()}?eventId=${event?.id}&participantId=${participant?.id}">x</a>
    #{/list}
    </p>
	#{if event?.participantCount == 0}
		Ingen her. INGEN har meldt seg på.<br/><br/>
	#{/if}
</div>
#{/if}

<div class="grid_11">
	    <h3>Notater</h3>
	<hr>
	<textarea rows="4" cols="120" name="event.notepad">${event?.notepad}</textarea>
</div>

    #{/form}
<div id="kart" class="hidden" title="Her skal vi møtes">
</div>

<div id="addLectureholder" title="Legg til foreleser" class="hidden">
    <label>Navn</label><input size="28" type="text" id="lectureholderAC"/>
    <label>Gravatar Id</label><input size="28" type="text" id="gravatarId"/>
	<input type="hidden" name="lectureHolderId" id="lectureHolderId" value="">
</div>

<div id="addParticipant" title="Legg til deltager" class="hidden">
    <label>Navn</label><input size="28" id="participantName" type="text"/>
    <label>Epost</label><input size="28" id="participantEmail" type="text"/> <!-- TODO test type email -->
</div>

<div id="addSlide" title="Legg til slide" class="hidden">
    <label>Beskrivelse</label><input size="100" type="text" id="description"/>
    <label>Url</label><input type="text" id="link"/>
</div>