#{extends 'main.html' /} #{set title: 'Bli med og bidra til javaBin!' /}

<div class="grid_8">
	<h1>${title}</h1>

	<p>I javaBin søker vi hele tiden nye ildsjeler som ønsker å være
		med og bidra til å gjøre brukergruppen bedre og på best mulig måte
		spre kompetanse i utviklerbransjen i Norge. Dersom du ønsker å være
		med, finner du på denne siden informasjon om hvordan du enkelt kan
		komme i gang.</p>
	<p>Bli med å ...</p>
	<h2>... arrangere javaBin!</h2>
	<p>Det krever mye frivillig innsats for å arrangere møter i javaBin
		og holde organisasjonen i gang. Ønsker du å være med å arrangere
		javaBin-møter så vil vi gjerne høre fra deg!</p>
	<h2>
		... arrangere <a href="http://www.javazone.no">JavaZone</a>!
	</h2>
	<p>
		javaBin er arrangør av utviklerkonferansen JavaZone, og hver tirsdag
		samles vi hos Macsimum på Helsfyr for å jobbe med neste års
		konferanse. Ønsker du å bidra er du hjertelig velkommen til å ta
		kontakt med oss på <a href="jz-crew@java.no">jz-crew@java.no</a> og vi
		inviterer deg gjerne med på arbeidsmøtene våre.
	</p>

	<h2>... programmere på prosjektene våre!</h2>
	<p>javaBin drives av utviklere og det fører med seg at vi driver en
		rekke prosjekter - alle Open Source og tilgjengelige på vår
		Github-konto:</p>
	<p>
		<a class="biglink" href="http://github.com/javabin">http://github.com/javabin</a>
	</p>
	<p>Du er hjertelig velkommen til å bli med på tirsdagsmøtene våre
		hos Macsimum på Helsfyr i Oslo, hver tirsdag kl. 18:00. Er du ikke i
		Oslo? Vi er også tilgjengelige på IRC (#java.no på EFNet) og Google+
		Hangout eller Skype mens vi jobber, slik at du enkelt kan logge deg på
		og bidra.</p>
</div>