#{extends 'main.html' /}
#{set title: event?.title /}
#{set ogtitle: 'javaBin ' + event?.region.realName + ' ' + event?.date?.format("dd.MM") + " - " + event?.title /}
#{set ogdescription: event?.description /}
#{set ogstreetaddress: event?.location + ', ' + event?.address /}
#{set ogurl: 'http://java.no/event/' + event?.id /}

<div class="grid_8">
<h1>${event?.title}</h1>
<p><span class="event-detail-label">Når</span>: ${event?.date?.format("dd.MM.yyyy")} fra kl. ${event?.startHour?.format('00')}:${event?.startMin?.format('00')} til ${event?.endHour?.format('00')}:${event?.endMin?.format('00')}<br/>
    <span class="event-detail-label">Sted</span>: ${event?.location}</p>
<br/>
<p class="bold-text">${event?.description}</p>
<p>${event?.extraInfo?.raw()}</p>
<br/>
<p>#{if new Date().before(event?.date?.plus(1))}

    <a class="attend" href="@{signUpForEvent()}?eventId=${event?.id}&eventTitle=${event?.region?.realName}
      : ${event?.title}"><img class="icon" src="/public/images/icons/add.png" alt="meld meg på!"/> Meld meg på!</a><br/><br/>
 <a href="@{Application.ical(event?.id)}"><img src="/public/images/icons/calendar.png" class="map" alt="kalender"/></a>
    <a href="@{Application.pdf(event?.id)}"><img src="/public/images/pdf.png" class="map" alt="få den i pdf og skriv den ut"/></a>
    #{/if}
    #{if new Date().after(event?.date)}
    <a href="javascript:" onclick="$('#slides').dialog({modal: true});"><img src="/public/images/slides.png" class="map" alt="slides fra foreleser"/></a>
    #{/if}

      #{if event?.address}
          <a class="maplink" href="?location=${event?.location}&address=${event?.address}"><img src="/public/images/icons/map.png" alt="kart" class="map"/></a>
         #{/if}
    <a href="http://twitter.com/share?text=%23javaBin%20ftw!&url=http%3A%2F%2Fjava.no/event/${event?.id}"><img class="map" src="/public/images/twitter_3.png" alt="Del møtet på twitter"></a>
</p>
<br/>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'javabin'; // required: replace example with your forum shortname
    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = ${event?.id};
    var disqus_url = 'http://www.java.no/event/${event?.id}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">Kommentarer leveres av Disqus.</a></noscript>
<a href="http://disqus.com">Kommentarer leveres av <span class="logo-disqus">Disqus</span></a>


</div>
<div class="grid_4">
<b>Foredragsholder(e):</b><br/><br/>
    #{list items:event?.lectureholders, as:'lectureholder'}
    <div class="grid_2 lectureholder_xsmall">
       <img src="http://www.gravatar.com/avatar/${lectureholder?.gravatarhash(lectureholder?.gravatarId)}?s=100&d=monsterid"/>
        <br/>
        ${lectureholder?.fullName}<br/>
    </div>
    #{/list}
<div class="clear"></div>
    <br/><b>Påmeldte så langt:</b><br/><br/>
               #{if event?.participants?.size() == 0}
                Det er ennå ingen påmeldte deltagere. <br/>Sjekk senere :)
                #{/if}
                #{list items:event?.participants, as:'participant'}
                 <div class="grid_1 participant">
                 #{if participant.email.contains('@proxymail.facebook.com')}
                 <img src="/public/images/duke-fb.png"/><br/>
                    ${participant.name}
                </div>
                #{/if}
                #{else}
                <img src="http://www.gravatar.com/avatar/${models.LectureHolder.gravatarhash(participant?.email).raw()}?s=60&d=monsterid"/><br/>
                    ${participant.name}
                </div>
                #{/else}

              #{/list}


</div>

<div class="hidden" id="registrering" title="Påmelding til møte">
    <br/>
    <p id="eventTitle"></p>
    <br/>

    <table border="0" cellspacing="5" cellpadding="5">
        <tr>
            <td class="label">Navn</td>
            <td class="input" ><input type="text" name="name" id="name"/></td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="input"><span class="infotxt">Kjekt for oss å vite hva du heter.</span></td>
        </tr>
        <tr>
            <td class="label">E-post</td>
            <td class="input"><input type="text" name="email" id="email"/></td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="input"><span class="infotxt">Bekreftelse sendes til deg på mail.</span></td>
        </tr>
        <tr>
            <td class="label">Antall</td>
            <td class="input">#{select 'howMany', size:1, id:'howMany', items:1..3/}</td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="input"><span class="infotxt">Hvor mange melder du på?</span></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2"><hr/></td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="input"><img src="@{Application.captcha(randomId)}" /><input type="hidden" name="randomId" value="${randomId}" /></td>
        </tr>
        <tr>
            <td class="label">Gjenta koden</td>
            <td class="input"><input type="text" name="code" id="code" value="" /></td>
        </tr>
        <tr>
            <td colspan="2"><hr/></td>
        </tr>
        <tr>
            <td class="centeredtext" colspan="2">
                <p>... eller meld meg på med Facebook-kontoen min:</p>
                <fb:login-button v="2" size="large" autologoutlink="true" perms="email,publish_stream"  onlogin='window.location = "@{signUpForEventWithFacebook()}?eventId=${event?.id}";'>Meld meg på via Facebook</fb:login-button>
            </td>
        </tr>
       

    </table>
</div>
<div id="fb-root"></div>
<script>

	/* Facebook connect init */
	window.fbAsyncInit = function() {
	  FB.init({appId: '227599930584065', status: true, cookie: true,
	           xfbml: true});
	};
	(function() {
	  var e = document.createElement('script');
	  e.type = 'text/javascript';
	  e.src = document.location.protocol +
	    '//connect.facebook.net/en_GB/all.js';
	  e.async = true;
	  document.getElementById('fb-root').appendChild(e);
	}());
</script>

        <div id="kart" class="hidden" title="Her skal vi møtes"></div>

            <div id="kommer" class="hidden" title="Her kommer det noe snart.">
                <p>Vi jobber med det</p>
            </div>
            <div id="slides" style="display:none" title="Slides">
				 #{if !event?.slidedescription1?.equals("Beskrivelse")}
                <p>${event.slidedescription1} - <a href="${event.slidelink1}">${event.slidelink1}</a></p>
				#{/if}
				#{if !event?.slidedescription2?.equals("Beskrivelse")}
	            <p>${event.slidedescription2} - <a href="${event.slidelink2}">${event.slidelink2}</a></p>
				#{/if}
				#{if !event?.slidedescription3?.equals("Beskrivelse")}
	          	<p>${event.slidedescription3} - <a href="${event.slidelink3}">${event.slidelink3}</a></p>
				#{/if}
				#{if !event?.slidedescription4?.equals("Beskrivelse")}
				<p>${event.slidedescription4} - <a href="${event.slidelink4}">${event.slidelink4}</a></p>
				#{/if}
            </div>



            <input type="hidden" id="randomId" name="randomId" value="${randomId}" />
        	<input type="hidden" id="eventId" value=""/>
