#{extends 'main.html' /}
#{set title:'tidligere møter' /}
<div class="lineItemText grid_6">
<h2>Oslo</h2>	
 <table>
    #{list items:osloEvents, as:'event'}
        <tr>
            <td class ="label">${event?.date?.format('dd.MM.yyyy')}</td>
            <td><a href="@{Application.event(event.id)}">${event?.title}</a></td>
        </tr>
    #{/list}
 </table>

</div>
<div class="lineItemText grid_6">
<h2>Trondheim</h2>	
 <table>
    #{list items:trondheimEvents, as:'event'}
        <tr >
            <td class ="label">${event?.date?.format('dd.MM.yyyy')}</td>
            <td><a href="@{Application.event(event.id)}">${event?.title}</a></td>
        </tr>
    #{/list}
  </table>
</div>
<div class="clear"></div>
<div class="lineItemText grid_6">
<h2>Stavanger</h2>	
 <table>
    #{list items:stavangerEvents, as:'event'}
        <tr>
            <td class ="label">${event?.date?.format('dd.MM.yyyy')}</td>
            <td><a href="@{Application.event(event.id)}">${event?.title}</a></td>
        </tr>
    #{/list}
    </table>
</div>
<div class="lineItemText grid_6">
<h2>Bergen</h2>	
    <table>
    #{list items:bergenEvents, as:'event'}
        <tr>
            <td class ="label">${event?.date?.format('dd.MM.yyyy')}</td>
            <td><a href="@{Application.event(event.id)}">${event?.title}</a></td>
        </tr>
    #{/list}
    </table>
</div>
<div class="clear"></div>
<div class="lineItemText grid_6">
<h2>Sørlandet</h2>
    <table>
    #{list items:sorlandetEvents, as:'event'}
        <tr>
            <td class="label">${event?.date?.format('dd.MM.yyyy')}</td>
            <td><a href="@{Application.event(event.id)}">${event?.title}</a></td>
        </tr>
    #{/list}
    </table>
</div>
