<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/reset.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/text.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/960.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/style.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/java_no_2007.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-simplemodal.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>


<div id="header_bg"> </div>
<div id="header">
  <div class="wrapper">
      <a href="/">
    <div id="header_logo"> </div></a>
    <!-- close: header_logo -->
    <h1>Java Brukerforening i Norge</h1>
  </div>
  <!-- close: wrapper -->
</div>


<div id="mainmenu">
  <div class="wrapper">

				<ul class="horiz">
					<li><a href="/tidligere">Tidligere møter</a></li>
					<li><a href="http://www.javazone.no">javaZone.no</a></li>
					<li><a href="/foredragsholdere">Foredragsholdere</a></li>
					<li><a href="http://shop.java.no">Butikk</a></li>
					<li><a href="/om-javabin">Om javaBin</a></li>
				</ul>
      </div></div>

			<div class="clear"></div>

		<div class="container_12">
			<div class="clear"></div>

        	#{doLayout /}

			<div class="clear"></div>

			</div>

			<div id="footer"></div>


			<div style="display:none" id="registrering">
				#{registrering /}
			</div>


			</body>

    </body>
</html>
