<html>
	<head></head>
	<body>	
		<p>
		  Heisann! Nå er det snart tid for javaBin-møte igjen. Dette er en påminnelsesmail om akkurat det.
		</p>
		<p>
		Tid og sted: <strong>${event?.location} - ${(event?.date).format('dd.MM.yyyy')}</strong> - <a href="http://maps.google.com/?q=${event?.address}">Link til kart</a><br/>
		Tema: <strong>${event?.title}</strong><br/>
		</p>
		<p>
		 Dersom du ikke har mulighet til å delta alikevel setter vi pris på om du <a href="http://www.java.no/avregistrer/${crypto}">klikker her</a> for å melde deg av, så har vi en oversikt over hvem som kommer.
		</p>
		<p>
		  Spre gjerne ordet til dine kolleger og få dem med på møtet! Vi sees!
		</p>
		<p>
		Mvh
		javaBin
		</p>
        <p>
           <br/>
           <span style="font-style:italic">
               Dette er en automatisk generert e-post.<br/>
               Dersom du ikke vet hvorfor du har mottatt denne mailen, så kan du enten se bort i fra den, eller sende oss en e-post på portal@java.no !
           </span>

		</p>
</body>
</html>
